@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.card-deck {
  .card {
    margin-bottom: $spacer;

    .card-header .card-title {
      margin-bottom: 0;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }
  }
}