@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body {
  background-color: $secondary;
}

.App {
  @include media-breakpoint-up(sm) {
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2;
    min-height: calc(100vh - #{$spacer});
    border-radius: $border-radius;
  }

  background-color: white;

  h1:first-child {
    margin-top: $spacer / 2;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
